{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>Hallo,</h3>
	<p>
		Deine Registrierung wurde abgelehnt!<br>
		Wir bitten um Dein Verständnis.
	</p>
	<p>
		Solltest Du Fragen zu deiner Registrierung haben wende Dich direkt an uns<br><br>
		<a href="http://{{domain}}/kontakt" class="button">Kontaktanfrage!</a>
	</p>
	<p>
		Viele Grüße!
	</p>
{% endblock %}
