{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h3>{{title}}</h3>

	<table cellpadding="4" cellspacing="0" border="1">
		{% for label,value in formdata %}
			<tr>
				<td><b>{{label}}:</b></td>
				<td>{{value}}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}