{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h1>{{title}}</h1>
	<p>Vielen Dank für Deine Anfrage. Wir haben Deine Anfrage wie folgt erhalten:</p>

	{% set oddbg = 'background-color: #EFEFEF;' %}
	{% set evenbg = 'background-color: #DDDDDD;' %}

	<table border="0" cellpadding="10" cellspacing="0" style="width: 100%">
		{% set background = evenbg %}
		{% for label,value in formdata %}
			{% if background == oddbg %}
				{% set background = evenbg %}
			{% else %}
				{% set background = oddbg %}
			{% endif %}
			<tr style="{{background}}">
				<td width="150"><b>{{label|capitalize}}:</b></td>
				<td>{{value}}</td>
			</tr>
		{% endfor %}
	</table>

	<p>Wir werden Deine Anfrage schnellstmöglich bearbeiten.</p>
{% endblock %}