{% extends "Layouts/Default.html" %}
{% block mailcontent %}
	<h1>{{title}}</h1>
	<p>Vielen Dank für Deine Anfrage. Wir haben Deine Anfrage wie folgt erhalten:</p>

	<table cellpadding="4" cellspacing="0" border="1">
		{% for label,value in formdata %}
			<tr>
				<td><b>{{label}}:</b></td>
				<td>{{value}}</td>
			</tr>
		{% endfor %}
	</table>

	<p>Wir werden Deine Anfrage schnellstmöglich bearbeiten.</p>
{% endblock %}